.heading{
    text-transform: uppercase;
}

.accent{
    color: var(--emerald-green);
}

.top-sub{
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
}

.main-head{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 3.8rem;
    width: 30rem;
}

.tag-line{
    margin-bottom: 4rem;
}

.call-to-action{
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.primary-cta, .secondary-cta{
    text-decoration: none;
    font-size: 1rem;
}

.primary-cta{
    color: var(--main-grey);
    background-color: var(--emerald-green);
    padding: 0.7rem 1.7rem;
    font-weight: 700;
    transition: 0.2s;
}

.primary-cta:hover{
    background-color: var(--hover-emerald-green);
}

.secondary-cta{
    color: white;
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
}

#left-arrow{
    width: 1.25rem;
    margin-left: 0.3rem;
    transition: 0.3s;
}

.secondary-cta:hover #left-arrow{
    transform: translateX(0.3rem);
}

.home-img-container{
    background-color: var(--secondary-grey);
    width: 21rem;
    height: 21rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-right img{
    width: 22rem;
    transform: scaleX(-1);
    /* background-color: red; */
}

@media screen and (max-width: 1024px) {
    .tag-line{
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .Home{
        justify-content: space-evenly;
    }

    .home-left, .home-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .heading, .tag-line{
        width: 100%;
    }

    .call-to-action{
        margin: auto;
        width: 100%;
    }

    .primary-cta, .secondary-cta{
        margin: auto;
    }

    .secondary-cta:hover #left-arrow{
        transform: translateX(0.3rem);
    }
    
    .primary-cta, .secondary-cta{
        font-size: 1.1rem;
    }
}
