:root{
  --main-grey: #2e2e2e;
  --secondary-grey: #484848;
  --hover-grey: #B1B1B1;
  --emerald-green: #47D990;
  --hover-emerald-green: #35B273;
  --error-red: #ff0000;
  --html-color: #FF7E35;
  --css-color: #95ACFF;
  --js-color: #F0DB4F;
  font-size: 16px;
}

body{
  background-color: var(--main-grey);
  color: white;
  font-family: 'Montserrat', sans-serif;
  /* background-color: red; */

}

.App{
  height: 100vh;
  margin: 0 10%;
  position: relative;
}

.Home, .About, .Contact{
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media screen and (max-width: 1024px) {
  :root{
    font-size: 12px;
  }
}

@media screen and (max-width: 850px) {
  :root{
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  :root{
    font-size: 10px;
  }
}

@media screen and (max-width: 650px) {
  :root{
    font-size: 9px;
  }
}
